<div class="row d-flex m-0">
    <div class="col-md-9 d-none d-md-block p-2">
        <div class="w-100 py-3 fs-4 mb-3 text-center text-white bg-primary">Conversor de divisas</div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2"></th>
                        <th *ngFor="let moneda of monedas">
                            <img class="icono-tabla img-fluid d-block mx-auto" [src]="moneda.icono">
                            <p class="text-center">{{moneda.nombre | uppercase}}</p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dato of datos">
                        <th scope="row">
                            <div class="d-flex justify-contennt-center my-1">
                                <img class="icono-tabla d-block mx-auto my-auto" [src]="dato.icono">
                            </div>
                        </th>
                        <td>
                            <p class="mx-0 my-1 text-center text-uppercase">1 {{dato.nombre}}</p>
                            <p class="mx-0 my-1 text-center text-capitalize">inverse</p>
                        </td>
                        <td *ngFor="let valor of dato.valor.directo;let i=index">
                            <p class="text-center my-1">{{dato.valor.directo[i] | number:"1.6"}}</p>
                            <p class="text-center my-1">{{dato.valor.inverso[i] | number:"1.6"}}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 p-2">
        <div class="py-1 fs-5 mb-3 text-center text-white text-capitalize bg-primary">Conversor de divisas</div>
        <form class="text-white bg-primary pt-2 pb-2">
            <div class="m-3">
                <label for="numero" class="form-label">Cantidad:</label>
                <input type="number" [(ngModel)]="montoI" name="montoInicial" class="form-control" id="numero" (change)="convertirModena(actual,posterior,montoI)">
            </div>
            <div class="m-3">
                <label for="moneda" class="form-label">De</label>
                <select id="moneda" [(ngModel)]="actual" name="monedaActual" class="form-select" (change)="convertirModena(actual,posterior,montoI)">
                        <option *ngFor="let opcion of monedas" [value]="opcion.nombre">({{opcion.nombre}}) {{opcion.detalle}}</option>
                </select>
            </div>
            <div class="m-3">
                <label for="moneda-cambiar" class="form-label">A</label>
                <select id="moneda-cambiar" [(ngModel)]="posterior" name="monedaPosterior" class="form-select" (change)="convertirModena(actual,posterior,montoI)">
                        <option *ngFor="let opcion of monedas" [value]="opcion.nombre">({{opcion.nombre}}) {{opcion.detalle}}</option>
                </select>
            </div>
            <div class="m-3">
                <small>Total: </small>
                <p class="bg-light text-dark text-end p-2 rounded">{{posterior+"$"}}{{montoP | number:'1.6' }}</p>
            </div>
        </form>
    </div>
</div>